<div class="categories-menu">
  <div class="categories-menu-content">
    <div class="categories-menu-left">
      <div class="categories-menu-row">
        <span>Departamento</span>
        <img
          src="../assets/img/arrow-right.svg"
          alt="Seta para direita"
          class="arrow-icon"
        />
        <span>Categoria</span>
        <span>Categoria</span>
        <span>Categoria</span>
      </div>
    </div>
    <div class="categories-menu-right">
      <div class="categories-menu-promo">
        <h3>Confira os Produtos Que Acabaram De Chegar</h3>
        <button class="categories-menu-view-all-btn">VER TODOS</button>
      </div>
    </div>
  </div>
</div>
