<div class="contact-banner">
  <img src="../assets/img/contact-banner.svg" alt="contact-banner" />

  <div class="newsletter">
    <h3>Cadastre-se na nossa <span>newsletter</span></h3>

    <div class="send-info">
      <form class="form-container">
        <input type="text" name="text" placeholder="Digite seu nome" />
        <input type="email" name="email" placeholder="Digite seu e-mail" />

        <label class="checkbox-container">
          <input type="checkbox" />
          <h4>Estou de acordo com a <span>Política de Privacidade</span></h4>
        </label>

        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
</div>
