<section class="footer-section">
  <img
    src="../assets/img/bg-footer.svg"
    alt="background footer"
    class="bg-footer"
  />

  <div class="footer-container">
    <div class="footer-top">
      <div class="logo-links">
        <img
          src="../assets/img/avanti-footer.svg"
          alt="Avanti"
          class="footer-logo"
        />

        <div class="footer-links">
          <div>
            <h4>Institucional</h4>
            <h5>Sobre Nós</h5>
            <h5>Nossas Lojas</h5>
            <h5>Privacidade e Segurança</h5>
            <h5>Termos e Condições</h5>
          </div>
          <div>
            <h4>Central de ajuda</h4>
            <h5>Fale Conosco</h5>
            <h5>Frete e Entrega</h5>
            <h5>Trocas e Devoluções</h5>
            <h5>Formas de Pagamento</h5>
            <h5>FAQ</h5>
          </div>
          <div>
            <h4>Atendimento</h4>
            <h5><strong>Telefone:</strong> (00) 1234-5678</h5>
            <h5><strong>E-mail:</strong> exemplo@exemplo.com.br</h5>
            <h5><strong>Horário de atendimento:</strong></h5>
            <h5>Segunda à Sábado: 07h00 às 23h00</h5>
            <h5>Domingos e Feriados: 07h00 às 21h00</h5>
          </div>
        </div>
      </div>

      <img
        src="../assets/img/card-mark.svg"
        alt="Formas de pagamento"
        class="card-mark"
      />
    </div>

    <div class="footer-bottom">
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
        molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
        eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
        zzril delenit augue duis dolore te feugait nulla facilisi.
      </p>
      <img
        src="../assets/img/brands.svg"
        alt="Selos de segurança"
        class="brands"
      />
    </div>
  </div>
</section>
