<div class="text-top">
  <h4>
    Ganhe <span>R$10,00</span> de desconto no seu primeiro pedido. Utilize o
    cupom DESCONTO10
  </h4>
</div>

<header>
  <div class="header-container">
    <div class="logo">
      <img src="../assets/img/logo.svg" alt="Logo da Avanti" />
    </div>

    <div class="search-bar">
      <input type="text" placeholder="Digite aqui o que você procura" />
      <img src="../assets/img/search.svg" alt="Buscar" class="search-icon" />
    </div>

    <div class="user-cart">
      <div class="user">
        <img
          src="../assets/img/user.svg"
          alt="Ícone de usuário"
          class="user-icon"
        />
        <p>Olá, <br /><strong>Nome cliente!</strong></p>
      </div>
      <div class="cart">
        <img
          src="../assets/img/cart.svg"
          alt="Ícone do carrinho"
          class="cart-icon"
        />
        <span class="cart-count">3</span>
      </div>
    </div>
  </div>

  <!-- <button>MENU</button> -->

  <nav class="categories">
    <button id="menuButton" class="categories-btn">
      ☰ Todas as Categorias
    </button>

    <ul class="menu">
      <li><a href="#">Departamento</a></li>
      <li><a href="#">Departamento</a></li>
      <li><a href="#">Departamento</a></li>
      <li><a href="#">Departamento</a></li>
      <li><a href="#">Departamento</a></li>
      <li><a href="#">Departamento</a></li>
      <li><a href="#">Departamento</a></li>
      <li><a href="#">Departamento</a></li>
    </ul>
  </nav>

  <div id="menu" class="hidden">
    <nav class="menu-departaments">
      <ul>
        <li><a href="#">Departamento</a></li>
        <li><a href="#">Departamento</a></li>
        <li><a href="#">Departamento</a></li>
        <li><a href="#">Departamento</a></li>
        <li><a href="#">Departamento</a></li>
        <li><a href="#">Departamento</a></li>
        <li><a href="#">Departamento</a></li>
        <li><a href="#">Departamento</a></li>
      </ul>
    </nav>
  </div>
</header>
