<div class="product-container">
  <div class="product-header">
    <h3 class="product-title">Lançamentos</h3>
    <p class="view-more">Ver mais</p>
  </div>
</div>

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide product-card">
      <div class="product-card-image">
        <img src="../assets/img/model-card.svg" alt="Produto 1" />
        <div class="new-badge">Novo</div>
      </div>
      <h3>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h3>
      <div class="price-container">
        <span class="old-price">R$ 100,00</span>
        <div class="new-price-container">
          <span class="new-price">R$ 79,90</span>
          <span class="discount-badge">10% OFF</span>
        </div>
      </div>
      <p class="installments">Ou em até 10x de R$ 7,90</p>
      <button class="buy-button">Comprar</button>
    </div>

    <div class="swiper-slide product-card">
      <div class="product-card-image">
        <img src="../assets/img/model-card.svg" alt="Produto 2" />
        <div class="new-badge">Novo</div>
      </div>
      <h3>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h3>
      <div class="price-container">
        <span class="old-price">R$ 100,00</span>
        <div class="new-price-container">
          <span class="new-price">R$ 79,90</span>
          <span class="discount-badge">10% OFF</span>
        </div>
      </div>
      <p class="installments">Ou em até 10x de R$ 7,90</p>
      <button class="buy-button">Comprar</button>
    </div>

    <div class="swiper-slide product-card">
      <div class="product-card-image">
        <img src="../assets/img/model-card.svg" alt="Produto 3" />
        <div class="new-badge">Novo</div>
      </div>
      <h3>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h3>
      <div class="price-container">
        <span class="old-price">R$ 100,00</span>
        <div class="new-price-container">
          <span class="new-price">R$ 79,90</span>
          <span class="discount-badge">10% OFF</span>
        </div>
      </div>
      <p class="installments">Ou em até 10x de R$ 7,90</p>
      <button class="buy-button">Comprar</button>
    </div>

    <div class="swiper-slide product-card">
      <div class="product-card-image">
        <img src="../assets/img/model-card.svg" alt="Produto 3" />
        <div class="new-badge">Novo</div>
      </div>
      <h3>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h3>
      <div class="price-container">
        <span class="old-price">R$ 100,00</span>
        <div class="new-price-container">
          <span class="new-price">R$ 79,90</span>
          <span class="discount-badge">10% OFF</span>
        </div>
      </div>
      <p class="installments">Ou em até 10x de R$ 7,90</p>
      <button class="buy-button">Comprar</button>
    </div>

    <div class="swiper-slide product-card">
      <div class="product-card-image">
        <img src="../assets/img/model-card.svg" alt="Produto 3" />
        <div class="new-badge">Novo</div>
      </div>
      <h3>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h3>
      <div class="price-container">
        <span class="old-price">R$ 100,00</span>
        <div class="new-price-container">
          <span class="new-price">R$ 79,90</span>
          <span class="discount-badge">10% OFF</span>
        </div>
      </div>
      <p class="installments">Ou em até 10x de R$ 7,90</p>
      <button class="buy-button">Comprar</button>
    </div>
  </div>

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

  <div class="swiper-pagination"></div>
</div>
